{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Add Company</h1>

<form method="POST">

    <div class="row">

        <div class="col-md-6 mb-3">
            <label>Company Name</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Booth Number</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Category</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Contact Person</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Phone</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>WhatsApp</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Email</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-6 mb-3">
            <label>Website</label>
            <input name="company_name" class="form-control" value="{{ company.company_name }}">
        </div>

        <div class="col-md-12 mb-3">
            <label>Address</label>
            <textarea name="address" class="form-control">{{ company.address }}</textarea>
        </div>

        <div class="col-md-12 mb-3">
            <label>Notes</label>
            <textarea name="notes" class="form-control">{{ company.notes }}</textarea>
        </div>

        <div class="col-md-12">

            <button type="submit" class="btn btn-primary">

                Update Company

            </button>

        </div>

    </div>

</form>

{% endblock %}