{% extends "base.html" %}

{% block content %}

<h2>

    Gallery

</h2>

<div class="row">

    {% for photo in photos %}

    <div class="col-lg-3">

        <div class="card shadow mb-4">

            <img src="{{ photo.image }}" class="card-img-top"
                style="height:250px; object-fit:cover;">

            <div class="card-body">

                <b>

                    {{ photo.company.company_name }}

                </b>

                <br>

                {{ photo.image_type }}

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}